<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Capital.GSG.FX.FXConverter" version="1.0.0.0" targetFramework="net46" />
  <package id="Capital.GSG.FX.IBControllerServiceConnector" version="1.0.0.0" targetFramework="net46" />
  <package id="Capital.GSG.FX.MarketDataService.Connector" version="1.0.0.0" targetFramework="net46" />
  <package id="Capital.GSG.FX.MonitoringAppConnector" version="1.9.0" targetFramework="net46" />
  <package id="Capital.GSG.FX.Trading.Executor" version="4.6.1.0" targetFramework="net46" />
  <package id="IBData.Service.Connector" version="1.0.0" targetFramework="net46" />
  <package id="InteractiveBrokerTwsAPI" version="9.71.6" targetFramework="net46" />
  <package id="log4net" version="2.0.5" targetFramework="net46" />
  <package id="MongoDB.Bson" version="2.2.4" targetFramework="net46" />
  <package id="MongoDB.Driver" version="2.2.4" targetFramework="net46" />
  <package id="MongoDB.Driver.Core" version="2.2.4" targetFramework="net46" />
  <package id="Net.Teirlinck.FX.Data" version="1.41.0" targetFramework="net46" />
  <package id="Net.Teirlinck.FX.FXTradingMongoConnector" version="5.9.1" targetFramework="net46" />
  <package id="Net.Teirlinck.Utils" version="1.8.0.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="RestSharp" version="105.2.3" targetFramework="net46" />
</packages>