<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Capital.GSG.FX.FXConverterServiceConnector" version="1.0.0.2" targetFramework="net46" />
  <package id="Capital.GSG.FX.Trading.Executor" version="4.4.2.0" targetFramework="net46" />
  <package id="InteractiveBrokerTwsAPI" version="9.71.6" targetFramework="net46" />
  <package id="log4net" version="2.0.5" targetFramework="net46" />
  <package id="MongoDB.Bson" version="2.2.3" targetFramework="net46" />
  <package id="MongoDB.Driver" version="2.2.3" targetFramework="net46" />
  <package id="MongoDB.Driver.Core" version="2.2.3" targetFramework="net46" />
  <package id="Net.Teirlinck.FX.Data" version="1.32.3.0" targetFramework="net46" />
  <package id="Net.Teirlinck.FX.FXTradingMongoConnector" version="5.5.0.1" targetFramework="net46" />
  <package id="Net.Teirlinck.Utils" version="1.7.0.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net46" />
  <package id="RestSharp" version="105.2.3" targetFramework="net46" />
</packages>